.box{
   width: 100%;
   height: 900px;
   box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
   
}
.name{
    margin-top: 0;
    font-size: 20px;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    border-left: 5px;
    border-color: aqua;
    
   
}
.ravi{
  padding-left: 70px;
  padding-top: 30px;
}
.borderbox{
    height: 50px;
    border: 2px;
    border-color: black;
   display: flex;
    padding: 20px;
}
.details{
    display: flex;
    padding-left: 20px;
}
.btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
}
.btnname{
    padding-top: 9px;
    font-size: 12px;
    padding-left: 5px;
}
.btnspl{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    background: linear-gradient(to right, purple 50%, green 50%);
}
.section{
    display: flex;
    margin-top: 10px;
    height: 25px;
    background-color: antiquewhite;
}
.btnq
{
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
}


/* CSS */
.button-80 {
  background: #fff;
  margin: 10px;
  backface-visibility: hidden;
  border-radius: .375rem;
  background-color: aliceblue;
  border: none;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}