.cardflex
{
   
    width: 600px;
    height: 300px;
    display: flex;
   
    margin-top: 20px;
    border: 0.5px groove rgb(149, 146, 146);
}
.exam{
    
   margin-left: 300px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;

}
.section1
{
    width:550px;
    padding-right: 40px;
    background-color: aliceblue;
}
.subjectname{
    width: 200px;
    height: 40px;
    background-color: aliceblue;
    font-weight: 700;
    padding-left: 40px;
   
    padding-top: 20px;
}
.flex4{
    display: flex;
}
.section3{
    height: 50px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
}
.text1{
    margin: 10px;
    font-weight: 750;
    color: rgb(104, 104, 247);
}
.count{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 750;
}
.num{
margin-left: 70px;
margin-top: 25px;
}
.sen1{
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.sen2
{
    color: red;
    text-align: center;
    margin-top: 20px;
}
.flex6{
    display: flex;
   
    margin-top: 40px;
    gap: 20px;
}
.cancelbtn{
    height: 40px;
    width: 250px;
    margin-right: 20px;
}
.submitbtn{
    width: 250px;
    height: 40px;
   
}