.nav{
  height: 70px;
  background-color: rgb(27, 27, 144);
  display: flex;
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}
.title{
  color: white;
  font-size: 30px;
}
.flex
{
  display: flex;
}
.navbarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Example background color */
  padding: 10px; /* Example padding */
  height: 50px;
  display: flex;
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}
.timer{
  margin-left: auto;
  margin-right: 50px;
  font-size: 40px;
  color: white;
}
.newbox{
  width: 300%;
}



